.container-image {
  min-height: 100vh;
  background-image: url(../images/148_Spear_g.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: grid;
  grid-template-columns: 25%, 25%, 25%, 25%;
  grid-template-rows: 20%, 20%, 20%, 20%, 20%;
}

.container-image a, .container-image h1, .container-image h3 {
  text-decoration: none;
  color: white;
}

.index-row, .index-column {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.index-row {
  display: grid;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 25px;
  grid-template-columns: repeat(auto-fit, minmax(17em, 1fr));
  grid-gap: 1em 0.5em;
  justify-content: center;
}

h1 {
  color: rgb(48, 85, 94);
}

a {
  text-decoration: none;
  color: rgb(8, 139, 172);
}

.index-column {
  flex-direction: column;
}

a:hover {
  color: rgb(109, 185, 204);
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: auto;
  min-width: 14.5em;
  min-height: 14.5em;
  margin-bottom: 15px;
  background-color: rgba(255, 255, 255, 0.199);
}

.box a {
  align-self: center;
} 

ul h3, ul h2, ul h4 {
  margin-bottom: 0.2em;
}

ul {
  list-style-type: none;
}

figure {
  float: left;
  clear: none;
  margin: 0em 2em 0em 0em;
}

.floating p {
  height: auto;
}