.footer {
  display: flex;
  background-color: lightgray;
  width: 100%;
  justify-content: space-around;
}

.contact-form{
  margin: 10px;
  display:  grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
        "name email"
        "body body"
        "submit submit"
}

.name-input {
  grid-area: "name"
}

.email-input {
  grid-area: "email"
}

.body {
  grid-area: "body";
}

.submit-button {
  grid-area: "submit";
}